app-music-list {
    display: block;
    width: 30%;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #1db954;
}

@media only screen and (max-width: 992px) {
    app-music-list {
        width: 90%;
    }
}